body {

    margin: 0%;
    padding: 0%;
    background-color: var(--color-Bg-Primary); 
}

h1{
    font-family: var(--font-family-montserrat),serif;
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-h1);
}

h2{
    font-family: var(--font-family-montserrat),serif;
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-h2);
}
h3{
    font-family: var(--font-family-montserrat),serif;
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-h3);
}
h4{
    font-family: var(--font-family-montserrat),serif;
    font-size: var(--font-size-h4);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-h4);
}
h5{
    font-family: var(--font-family-montserrat),serif;
    font-size: var(--font-size-h5);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-h5);
}
h6{
    font-family: var(--font-family-montserrat),serif;
    font-size: var(--font-size-h6);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-h6);
}

.p1{

    font-family: var(--font-family-montserrat),serif;
    font-size: var(--font-size-p1);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-p1);
}

.p2{

    font-family: var(--font-family-montserrat),serif;
    font-size: var(--font-size-p2);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-p2);
}
.p2{

    font-family: var(--font-family-montserrat),serif;
    font-size: var(--font-size-p3);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-p3);
}

